.flex-container{
  display: flex; 
  justify-content: space-between; 
  margin-top: 60px;
}
.container-left {
    flex: 1; 
    margin: 10px; 
    padding: 20px;
  }
  
  .container-left img {
    max-width: 100%; 
    height: auto; 
    border-radius: 50px;
  }

  .container-rigth {
    flex: 1; 
    margin: 10px; 
    padding: 20px;
  }

  .title-about-me{
    font-size: 50px;
  }

  .about-me-text{
    font-size: 19.5px;
  }
