.flex-container{
  display: flex; /* Enables Flexbox layout */
  justify-content: space-between; /* Optional: Adds space between the boxes */
  margin-top: 60px;
}
.container-left {
    flex: 1; /* Each box takes equal space */
    margin: 10px; /* Optional: Adds space between the boxes */
    padding: 20px;
  }
  
  .container-left img {
    max-width: 100%; /* Ensure the image scales well */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 50px;
  }

  .container-rigth {
    flex: 1; /* Each box takes equal space */
    margin: 10px; /* Optional: Adds space between the boxes */
    padding: 20px;
  }

  .title-about-me{
    font-size: 70px;
  }

  .about-me-text{
    font-size: 22px;
  }
