<div class="flex-container">
    <div class="container-left">
        <img src="assets/images/Photo.png">
    </div>
    <div class="container-rigth">
        <h1 class="title-about-me">Hi, I'm Gabriel.</h1>
        <p class="about-me-text">   
            I’m a passionate Software Engineer with a strong background in Automotive Embedded Systems. My expertise includes C programming, AUTOSAR (Automotive Open System Architecture), the Diagnostics Stack (Dem, Dcm, NvM) and real-time systems, essential for ensuring precise timing and reliability in automotive applications.<br>
            In addition to my embedded systems experience, I’m a versatile Full Stack Developer. I work with Angular, JavaScript, and TypeScript for front-end development, and Spring Boot with Java for back-end solutions. This allows me to build complete, scalable applications that address complex technical challenges.<br>
            I also have experience in mobile app development using Java and Android Studio for Android Application and Swift and Xcode for IOs Applications, creating intuitive and engaging mobile applications.<br>
            I hold a Bachelor’s degree in Computer Engineering from the University of Genoa and am pursuing a Master’s degree in Computer Science and Engineering at the Technical University of Denmark (DTU). Committed to continuous learning, I am always eager to expand my skills and stay updated with the latest technological advancements.
    </div>
</div>
