    body{
      display: flexbox;
    }
    
    .flex-container {
      display: flex; 
      flex-wrap: wrap; 
      justify-content: space-between; 
      margin-top: 60px;
    }

    .first-project-container{
      display: flex; 
      flex-wrap: wrap; 
      justify-content: space-between; 
      margin-top: 60px;
    }

    .second-project-container{
      display: flex; 
      flex-wrap: wrap; 
      justify-content: space-between; 
      margin-top: 60px;
      margin-bottom: 100px;
    }

    .third-project-container{
      display: flex; 
      flex-wrap: wrap; 
      justify-content: space-between; 
    }

    .container-rigth {
      flex: 1; 
      margin: 10px; 
      padding: 20px;
    }
  
    .title-about-me{
      font-size: 50px;
    }
  
    .about-me-text{
      font-size: 19.5px;
    }

    .about-me-text span{
        font-weight: bold;
        font-size: 22px;
    }

    .container-rigth a{
      display:flex;
      text-align:center;
      flex-direction: column;
      margin-top: 30px;
      color: #050000;
      text-decoration: none;
      font-size: 1.2rem;
      transition: color 0.3s;
      border : 2px solid rgb(60, 255, 0);
      border-radius: 15px;
      animation: moveInBottom 0.7s 1.2s;
      animation-fill-mode: backwards;
      animation-timing-function: cubic-bezier(0.21, 1.11, 0.81, 0.99);
      height: 35px;
      width: 130px;
      color:rgb(60, 255, 0) ;
    }
    

    //slideshow css

    .slideshow-container {
        position: relative;
        max-width: 100%;
        margin: auto;
      }
      
      .slide-wrapper {
        max-width: 100%; 
        width: 370px;  
        height: 500px; 
        overflow: hidden; 
        display: flex;
        align-items: center; 
        justify-content: center; 
        border-radius: 20px;
      }
      .second-slide-wrapper{
        max-width: 100%; 
        width: 370px;  
        height: 500px; 
        overflow: hidden; 
        display: flex;
        align-items: center; 
        justify-content: center; 
        border-radius: 20px;
      }

      .second-slide {
        max-width: 100%; 
        height: auto; 
        position: relative;
        top: +10%;
      }
      
      .slide {
        max-width: 100%; 
        height: auto; 
        position: relative;
        top: +30%;
      }
      
      .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 20px;
        user-select: none;
      }
      
      .prev {
        left: 0;
        border-radius: 8px 10px 10px 8px;
      }
      
      .next {
        right: 0;
        border-radius: 8px 10px 10px 8px;
      }
      
      .prev:hover, .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }
      