<div class="contact-container">
    <form class="contact-left" (ngSubmit)="sendEmail(contactForm)" #contactForm="ngForm">
        <div class="contact-left-title">
            <h2>Contact me</h2>
        </div>
        <input type="text" name="name"  id="name"placeholder="Name" class="contact-inputs" ngModel required>
        <input type="email" name="email"  id="email" placeholder="email@example.com" class="contact-inputs" ngModel required>
        <textarea name="message"  id="message" placeholder="Type your message here" class="contact-inputs" cols="30" rows="10" ngModel required></textarea>
        <button type="submit" [disabled]="contactForm.invalid">Submit your message</button>
    </form>
</div>

<p>{{status}}</p>
