.intro{
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color:bisque;
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    word-wrap: break-word;
}